{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Kompozytorzy' }}
{% endblock %}

{% block body %}
    <h1>twórcy</h1>
    <div class="every-con">
        <div class="container">

            <div class="row text-center text-lg-center">
                {% for composer in pagination.items %}

                    <div class="col-lg-3 col-md-3 col-12 text-center">
                        <div class="container-href">
                            <a href="{{ url('composer_show', {id: composer.id}) }}" class="d-block mb-4 h-200">
                                <img class="img-fluid img-thumbnail" src="{{ asset('uploads/'~ composer.filename) }}" alt="">
                                {{ composer.name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}