{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Kompozytorzy'|trans({'%id%': composer.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="musical-container">
        <div class="creator-photo">
            <img class="nav-profile-img" src="{{ asset('uploads/'~ composer.filename) }}" alt="">
        </div>
        <div class="creator-data">
            <div class="name">
                {{ composer.name }}
            </div>
            <h2>
                Biografia
            </h2>
            <div class="bio">
                {{ composer.bio }}
            </div>
            <h2>
                Spektakle
            </h2>
            <div class="creator">
                {% for musicals in composer.musicals %}
                    <div class="col-lg-3 col-md-4 col-22 text-lg-center">
                        <div class="container-href">
                            <a href="{{ url('musical_show', {id: musicals.id}) }}" title="{{ musicals.title }}" class="d-block mb-4 h-200">
                                <img class="img-fluid img-thumbnail" src="{{ asset('uploads/'~ musicals.filename) }}" alt="">
                                <div>
                                    {{ musicals.title }}
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}