{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Kompozytorzy'|trans({'%id%': composer.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="musical-container">
        <div class="creator-photo">
            <img class="nav-profile-img" src="{{ asset('uploads/'~ composer.filename) }}" alt="">
        </div>
        <div class="creator-data">
            <div class="name">
                {{ composer.name }}
            </div>
            <h2>
                Biografia
            </h2>
            <div class="bio">
                {{ composer.bio }}
            </div>
            <h2>
                Spektakle
            </h2>
            <div class="container">
                <div class="row text-center text-lg-center">
                    {% for musical in composer.musicals %}
                        <div class="col-lg-3 col-md-3 col-12 text-lg-center">
                            <a href="{{ url('musical_show', {id: musical.id}) }}" class="d-block mb-4 h-200">
                                <img class="img-fluid img-thumbnail" src="{{ asset('uploads/'~ musical.filename) }}" alt="">
                                {{ musical.title }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}