{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Aktorzy' }}
{% endblock %}

{% block body %}
    <h1>aktorzy</h1>
    <div class="every-con">
        <div class="container">

            <div class="row text-center text-lg-center">
                {% for actor in pagination.items %}

                    <div class="col-lg-3 col-md-4 col-22 text-lg-center">
                        <div class="container-href">
                            <a href="{{ url('actor_show', {id: actor.id}) }}" class="d-block mb-4 h-200">
                                <img class="img-fluid img-thumbnail" src="{{ asset('uploads/'~ actor.filename) }}" alt="">
                                {{ actor.name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}