{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Doceń musical'|trans({'%id%': musical.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="musical-container">
        <div class="musical">
            <img class="nav-profile-img" src="{{ asset('uploads/'~ musical.filename) }}" alt="">
        </div>
        <div class="musical-data">
            <div class="name">
                {{ musical.title }}
            </div>
            <div class="creator">
                <h2>Twórcy</h2>
                {% for director in musical.director %}
                    <a href="{{ url('director_show', {id: director.id}) }}" title="{{ director.name }}">
                        {{ director.name }}
                    </a><br>
                {% endfor %}
                {% for composer in musical.composer %}
                <a href="{{ url('composer_show', {id: composer.id}) }}" title="{{ composer.name }}">
                    {{ composer.name }}
                </a><br>
                {% endfor %}
            </div>

            <div class="premiere">
                <h2>Premiera</h2>
                {{ musical.year }}
                {{ musical.place }}
            </div>
        </div>

        <h1>historia</h1>
        <div class="content">
            {{ musical.history }}
        </div>
        <h1>fabuła</h1>
        <div class="content">
            {{ musical.description }}
        </div>

        <h1>utwory</h1>
        <div class="content">
            {% for songs in musical.songs %}
                {{ songs.title }}
            {% endfor %}
        </div>

        <h1>komentarze</h1>
        <div class="content">
            {% for comment in musical.comments %}
                <div class="comment">
                    <div class="comment-author">
                        <p>
                            {{ comment.author.login }}
                        </p>
                        <p class="comment-date">
                            {{ comment.date|date('d/m/Y') }}
                        </p>
                    </div>
                    {{ comment.content }}
                </div>
            {% endfor %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="comment-more">
                    <div class="comment-add">
                        <a href="{{ url('dodaj-komentarz', {'id': musical.id}) }}" title="{{ 'action_create'|trans }}" class="btn btn-primary btn-lg btn-light" role="button" aria-pressed="true">
                            {{ 'Dodaj komentarz' }}
                        </a>
                    </div>
            {% else %}
                    <div class="comment-add">
                        <a href="{{ url('app_login') }}" class="btn btn-primary btn-lg btn-light" role="button" aria-pressed="true"> {{ 'Zaloguj się, aby dodać komentarz' }}</a>
                    </div>

            {% endif %}

            <div class="comment-add">
                <a href="{{ url('musical_index') }}" title="{{ 'action_back_to_list'|trans }}" class="btn btn-primary btn-lg btn-light" role="button" aria-pressed="true">
                    {{ 'Powrót do strony głównej' }}
                </a>
                </div>
                </div>
        </div>
    </div>
{% endblock %}