{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Doceń musical'|trans({'%id%': musical.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="musical-container">
        <div class="cover-photo">
            COVER PHOTO
        </div>
        <div class="musical-data">
            <div class="name">
                {{ musical.title }}
            </div>
            <div class="creator">
                <h2>Twórcy</h2>
                {% for director in musical.director %}
                    <a href="{{ url('director_show', {id: director.id}) }}" title="{{ director.name }}">
                        {{ director.name }}
                    </a><br>
                {% endfor %}
                {% for composer in musical.composer %}
                <a href="{{ url('composer_show', {id: composer.id}) }}" title="{{ composer.name }}">
                    {{ composer.name }}
                </a><br>
                {% endfor %}
            </div>

            <div class="premiere">
                <h2>Premiera</h2>
                {{ musical.year }}
                {{ musical.place }}
            </div>
        </div>

        <h1>historia</h1>
        <div class="content">
            {{ musical.history }}
        </div>
        <h1>fabuła</h1>
        <div class="content">
            {{ musical.description }}
        </div>
{#        <h1>aktorzy</h1>#}
{#        <div class="content">#}
{#            {% for actor in musical.actor %}#}
{#                <a href="{{ url('actor_show', {id: actor.id}) }}" title="{{ actor.name }}">#}
{#                    {{ actor.name }}#}
{#                </a><br>#}
{#            {% endfor %}#}
{#        </div>#}
        <h1>utwory</h1>
        <div class="content">
            {% for songs in musical.songs %}
                {{ songs.title }}
            {% endfor %}
        </div>

        <h1>komentarze</h1>
        <div class="content">
            {% for comment in musical.comments %}
                <div class="">
                    {{ comment.author.login }}
                    {{ comment.content }}
                </div>
            {% endfor %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <p>
                    <a href="{{ url('dodaj-komentarz', {'id': musical.id}) }}" title="{{ 'action_create'|trans }}" class="">
                        {{ 'Dodaj komentarz' }}
                    </a>
                </p>
            {% else %}
                <div>
                    <a href="{{ url('app_login') }}" class="" id="login_btn"> {{ 'Zaloguj się, aby dodać komentarz' }}</a>
                </div>
            {% endif %}
        </div>
        <p>
            <a href="{{ url('musical_index') }}" title="{{ 'action_back_to_list'|trans }}" class="">
                {{ 'Powrót do strony głównej' }}
            </a>
        </p>
{% endblock %}