<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}
            DOCEŃ MUSICAL
        {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <div class="logotype">
            <a href="{{ url('musical_index') }}"><img class="logo" src="{{ asset('images/logo.png') }}" alt="logo serwisu"/></a>
        </div>
        <nav>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu">
                <li><a href="{{ url('musical_index') }}">Musicale</a></li>
                <li><a href="{{ url('historia') }}">Historia</a></li>
                <li>
                    <label for="drop-1" class="toggle">Ludzie +</label>
                    <a href="#">Ludzie</a>
                    <input type="checkbox" id="drop-1"/>
                    <ul>
                        <li><a href="{{ url('actor_index') }}">Aktorzy</a></li>
                        <li><a href="{{ url('composer_index') }}">Kompozytorzy</a></li>
                        <li><a href="{{ url('director_index') }}">Reżyserzy</a></li>
                    </ul>
                </li>
                <li><a href="{{ url('o-serwisie') }}">O serwisie</a></li>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a href="{{ url('user_show', {id: app.user.id}) }}"> Moje konto </a></li>
                    <li><a href="{{ url('app_logout') }}">Wyloguj</a></li>

                {% else %}
                    <li><a href="{{ url('app_login') }}">Zaloguj</a></li>
                {% endif %}

            </ul>
        </nav>

    </header>

    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>

    <footer>
        <div class="footer-part">
            <img class="logo" src="{{ asset('images/logo-footer.png') }}" alt="logo serwisu"/>
            <p>Serwis poświęcony musicalom.</p>
            <p>Karolina Żeglińska</p>
        </div>
    </footer>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>